{% extends 'front//base.html.twig' %}

{% block title %}Constat{% endblock %}

{% block body %}
    <h1>Constat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ constat.id }}</td>
            </tr>
            <tr>
                <th>Date_incident</th>
                <td>{{ constat.dateIncident ? constat.dateIncident|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Heure_incident</th>
                <td>{{ constat.heureIncident ? constat.heureIncident|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ constat.description }}</td>
            </tr>
            <tr>
                <th>Cordonnées_des_conducteurs</th>
                <td>{{ constat.cordonneesDesConducteurs }}</td>
            </tr>
            <tr>
                <th>Images_de_deux_véhicules_accidentées</th>
                <td>{{ constat.imagesDeDeuxVehiculesAccidentees }}</td>
            </tr>
            <tr>
                <th>Témoins</th>
                <td>{{ constat.temoins }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_auto_constat_index') }}">back to list</a>

    <a href="{{ path('editconstat', {'id': constat.id}) }}">edit</a>

    {{ include('auto_constat/_delete_form.html.twig') }}
{% endblock %}
